
<!DOCTYPE html>
<html>
<head>
    <base href="http://127.0.0.1/" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="highcharts, charts, javascript charts, ajax charts, plots, line charts, bar charts, pie charts, javascript plots, ajax plots" />
    <meta name="description" content="Highcharts - Interactive JavaScript charts for your web pages." />
    <meta name="generator" content="Joomla! - Open Source Content Management" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Basic line | Highcharts</title>
    {% include 'CibloBundle:Default:head.html.twig' %}
</head>
<body>
<div id="menu">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <div id="menu-container">
                </div>
            </div>
        </div>
    </nav>
</div>
<div id="hs-component">
    <div class="container">
        <div id="wrap" class="sidebar-wrapper">
            {% include 'CibloBundle:Default:tabs.html.twig' %}
            {% include 'CibloBundle:Default:left_menu.html.twig' %}
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-9 sidebar-fill"></div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 sidebar-eq demo">
                    <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 sidebar-eq-fill"></div>
                <div class="clearfix"></div>
            </div>

    </div>
</div>
<div id="footer">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div id="zt-footer-copy">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="socials">
                <div>
                    <a href="https://www.facebook.com/Highcharts" title="Facebook" class="social-icon"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/Highcharts" title="Twitter" class="social-icon"><i class="fa fa-twitter"></i></a>
                    <a href="http://www.linkedin.com/company/highsoft-solutions-as" title="LinkedIn" class="social-icon"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/highslide-software/highcharts.com" title="Github" class="social-icon"><i class="fa fa-github"></i></a>
                    <a href="https://www.youtube.com/channel/UCzxXofPTQ0DoT7uIy3Fxw7A"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>