<div class="row">
    <div class="col-md-8 col-sm-12">
        <div class="dataTables_paginate paging_bootstrap_extended">
            <div class="pagination-panel"> Page <a href="#"
                                                   class="btn btn-sm default prev disabled"
                                                   title="Prev"><i
                            class="fa fa-angle-left"></i></a><input type="text"
                                                                    class="pagination-panel-input form-control input-mini input-inline input-sm"
                                                                    maxlenght="5"
                                                                    style="text-align:center; margin: 0 5px;"><a
                        href="#" class="btn btn-sm default next" title="Next"><i
                            class="fa fa-angle-right"></i></a> of <span
                        class="pagination-panel-total">18</span></div>
        </div>
        <div class="dataTables_length"><label><span class="seperator">|</span>View
                <select name="datatable_orders_length"
                        aria-controls="datatable_orders"
                        class="form-control input-xsmall input-sm input-inline">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="150">150</option>
                    <option value="-1">All</option>
                </select> records</label></div>
        <div class="dataTables_info"><span class="seperator">|</span>Found total 178
            records
        </div>
    </div>
    <div class="col-md-4 col-sm-12"></div>
</div>