<!DOCTYPE html>
<html lang="en">
{% include 'OivBundle:blocks:head.html.twig' %}

<body class="body-front  ">

<div id="popup-cookie" class="shown">
    <div class="popup-cookie-content">
        <p class="popup-text">
            Ce site utilise des traceurs pour vous offrir une meilleure experience sur notre site.			<a href="/fr/mentions-legales" class="popup-lnk">En savoir plus</a>
        </p>
    </div>
    <div class="popup-cookie-content">
        <button class="Button Button_blanc Button_blanc-rose">OK</button>
    </div>

</div>

{% include 'OivBundle:blocks:nav_mobile.html.twig'%}

<div id="page">

    {% include 'OivBundle:blocks:header.html.twig' %}
    <div class="full-search">
    {% include 'OivBundle:blocks:filter_search.html.twig' %}
    {% include 'OivBundle:blocks:result_search.html.twig' %}
    {% include 'OivBundle:blocks:fiche_country.html.twig' %}
    {% include 'OivBundle:blocks:result_stats_country.html.twig' %}
    </div>
    <div class="bandeau-bottom Bg-noise">
        <div class="Content_center">
            <a href="/fr/" class="bandeau-bottom-lnk Content_center">Retour à la page d'accueil</a>
        </div>
    </div>
    {% include 'OivBundle:blocks:footer.html.twig' %}
</div>
<script type="text/javascript">
    var rootUrl  = '/';
    var userLang = 'fr';
    var isMobile = '';
    var isTablet = '';
    var isIos    = '';
    var host     = 'www.oiv.int';
</script>
<script></script>
<!--
<script src="js/pdf.js"></script>
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/jquery.colorbox.min.js"></script>
<script src="js/chosen.jquery.min.js"></script>
<script src="js/Chart.min.js"></script>
<script src="js/main.min.js"></script>
<script src="js/debug.js"></script>
-->
<script src="http://www.oiv.int/js/lib/pdfjs/build/pdf.js"></script>
<script src="http://www.oiv.int/js/lib/jQuery/jquery-2.1.4.min.js"></script>
<script src="http://www.oiv.int/js/frontend/lib/jquery.colorbox.min.js"></script>
<script src="http://www.oiv.int/js/lib/jQuery/chosen.jquery.min.js"></script>
<script src="http://www.oiv.int/js/frontend/lib/Chart.min.js"></script>
<script src="http://www.oiv.int/js/frontend/main.min.js"></script>
<script src="http://www.oiv.int/citrus-debug/js/debug.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<script src="{{ asset('/bundles/oiv/js/base-search.js') }}"></script>
<script src="{{ asset('/bundles/oiv/js/oiv-handler-search.js') }}"></script>
<script src="{{ asset('/bundles/oiv/js/oiv-stats-charts.js') }}"></script>
</body>
</html>