<div class="col-lg-3 col-md-3 col-sm-3 col-xs-9 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active">
            <div class="active"><span>Répartition graphique</span><icon class="toggle"></icon></div>
            <ul style="display: block;">
                <li class="active">
                    <a href="http://www.highcharts.com/demo/line-basic">
                        Répartition des visites
                    </a>
                </li>
                <li class="">
                    <a href="http://www.highcharts.com/demo/line-ajax">
                        Répartition des ventes
                    </a>
                </li>
                <li class="">
                    <a href="http://www.highcharts.com/demo/line-labels">
                        Répartition des chiffres d'affaires
                    </a>
                </li>
            </ul>
        </li>
        <li class="">
            <div class=""><span>Evolution du taux</span><icon class="toggle"></icon></div>
            <ul style="display: none;">
                <li class="">
                    <a href="">Evolution du taux de conversion</a>
                </li>
                <li class="">
                    <a href="">Evolution du taux de panier moyen</a>
                </li>
            </ul>
        </li>
    </ul>
</div>