<footer>
    <div class="Row">
        <div class="Footer-left Footer-col">
            <div class="Footer-center">
                <h2>
                    Restez en contact </h2>
                <p class="Footer-paragraph">Suivez-nous sur les plateformes sociales !</p>
                <div class="Footer-logoContainer">
                    <a target="_blank" href="https://twitter.com/OIV_int" class="Footer-logoSoc tw"></a>
                    <a target="_blank"
                       href="https://www.facebook.com/pages/OIV-International-Organisation-of-Vine-and-Wine/347511881957613?fref=ts"
                       class="Footer-logoSoc fb"></a>
                </div>
            </div>
        </div>
        <div class="Footer-right Footer-col">
            <h2>
                Newsletter </h2>
            <p class="Footer-paragraph">Inscrivez-vous pour recevoir notre newsletter quotidienne.</p>
            <form class="Footer-form" action="/fr/inscription-newsletter" method="POST">
                <input type="text" placeholder="Entrez votre email" class="Footer-form-input">
                <button class="Button Button_blanc Button_blanc-rose">
                    Valider
                </button>
            </form>
            <span class="Footer-form-msg">Inscription à la newsletter réussie</span>
            <span class="Footer-form-msgError">Merci d’indiquer une adresse email valide</span>
        </div>
    </div>
    <div class="Footer-bottom">
        <a href="/" class="Footer-logoContainer"><img src="img/frontend/logo-footer.png" alt="OIV"></a>
        <ul class="Footer-menu">
            <li><a href="/fr/lorganisation-internationale-de-la-vigne-et-du-vin">Qui sommes-nous ?</a></li>
            <li><a href="/fr/nous-contacter">Nous contacter</a></li>
            <li><a href="/fr/mentions-legales">Mentions légales</a></li>
            <li><a href="/fr/plan-du-site">Plan du site</a></li>
            <li class="Footer-btn-search search-btn"><a href="#"></a></li>
            <div class="Language-select showOnMobile">
                <select name="lang" id="select-lang-footer" class="chosen no-search select-lang"
                        style="width: 70px; display: none;" data-mc-width="100">
                    <option value="/de/datenbank-und-statistiken-vornehmen/statistiken">
                        Deutsch
                    </option>
                    <option value="/en/databases-and-statistics/statistics">
                        English
                    </option>
                    <option value="/es/bases-de-datos-y-estadisticas/estadisticas">
                        Español
                    </option>
                    <option value="/fr/bases-de-donnees-et-statistiques/statistiques" selected="selected">
                        Français
                    </option>
                    <option value="/it/database-e-statistiche/statistiche">
                        Italian
                    </option>
                </select>
                <div class="chosen-container chosen-container-single chosen-container-single-nosearch"
                     style="width: 0px;" title="" id="select_lang_footer_chosen"><a class="chosen-single" tabindex="-1"><span>
									Français
								</span>
                        <div><b></b></div>
                    </a>
                    <div class="chosen-drop">
                        <div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div>
                        <ul class="chosen-results"></ul>
                    </div>
                </div>
            </div>
        </ul>


    </div>


</footer>