<head>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/frontend/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/frontend/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/frontend/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/frontend/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/frontend/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/frontend/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/frontend/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/frontend/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/frontend/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/img/frontend/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/frontend/favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/img/frontend/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/img/frontend/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/img/frontend/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-title" content="OIV.int">
    <meta name="application-name" content="OIV.int">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" href="/fr/favicon.ico">
    <meta name="google-site-verification" content="ojgCZ1lLTfH12dH7w6PF5rDPuj0-5Rr7zQhpjZpquwU">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=0.5"> -->

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css">
    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>


    <title>Recherche et statistiques OIV</title>
    <meta name="keywords" content=" ">
    <meta name="description" content=" ">
    <meta property="og:title" content="Statistiques">
    <meta property="og:url" content="http://www.oiv.int/fr/bases-de-donnees-et-statistiques/statistiques">
    <meta property="og:type" content="article">
    <meta property="og:image" content="http://www.oiv.int/img/frontend/img-share.jpg">
    <meta property="og:site_name" content="oiv.int">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Statistiques">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="http://www.oiv.int/img/frontend/img-share.jpg">
    <!--        <link rel="stylesheet" media="screen" type="text/css" href="css/frontend/knacss-unminified.css">
            <link rel="stylesheet" media="screen" type="text/css" href="css/frontend/master.fixed.css">
            <link rel="stylesheet" media="screen" type="text/css" href="css/frontend/citrus.min.css">
    -->

    <link rel="stylesheet" media="screen" type="text/css" href="http://www.oiv.int/css/frontend/knacss-unminified.css">
    <link rel="stylesheet" media="screen" type="text/css" href="http://www.oiv.int/css/frontend/master.fixed.css">
    <link rel="stylesheet" media="screen" type="text/css" href="http://www.oiv.int/citrus-debug/css/citrus.min.css">


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" media="screen" type="text/css" href="{{ asset('/bundles/oiv/css/base-search.css') }}">
    <link rel="stylesheet" media="screen" type="text/css" href="{{ asset('/bundles/oiv/css/flags-32/flags.css') }}">
    <link rel="stylesheet" media="screen" type="text/css" href="{{ asset('/bundles/oiv/css/jquery-loading.css') }}">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!-- jQuery Modal -->
    <link rel="stylesheet" href="{{ asset('/bundles/oiv/css/jquery.modal.min.css') }}" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
    <!-- Latest compiled and minified JavaScript -->
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>#}
    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/i18n/defaults-*.min.js"></script>

</head>