<div class="popupSearch">
    <div class="popupSearch-close"></div>
    <div class="popupSearch-container">
        <input class="popupSearch-input" type="text" name="search" placeholder="Rechercher">
        <img class="popupSearch-loupe" src="http://www.oiv.int/img/frontend/icon-search.png" alt="icon">
    </div>
</div>
<div class="Share">
    <div class="Share-content">
        <div class="share-item search-btn" id="search-btn">
            <img src="http://www.oiv.int/img/frontend/icon-loupe.png" alt="icon">
        </div>
        <div class="share-item">
            <a target="blank" href="https://www.facebook.com/pages/OIV-International-Organisation-of-Vine-and-Wine/347511881957613?fref=ts">
                <img src="http://www.oiv.int/img/frontend/icon-fb.png" alt="icon">
            </a>
        </div>
        <div class="share-item">
            <a target="blank" href="https://twitter.com/OIV_int">
                <img src="http://www.oiv.int/img/frontend/icon-tw.png" alt="icon">
            </a>
        </div>
        <div class="share-item Language-select">
            <select name="lang" id="select-lang" class="chosen no-search select-lang" style="display: none;">

                <option value="/de/datenbank-und-statistiken-vornehmen/statistiken">
                    Deutsch
                </option>

                <option value="/en/databases-and-statistics/statistics">
                    English
                </option>

                <option value="/es/bases-de-datos-y-estadisticas/estadisticas">
                    Español
                </option>

                <option value="/fr/bases-de-donnees-et-statistiques/statistiques" selected="selected">
                    Français
                </option>

                <option value="/it/database-e-statistiche/statistiche">
                    Italian
                </option>
            </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 128px;" title="" id="select_lang_chosen"><a class="chosen-single" tabindex="-1"><span>
								Français
							</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
        </div>
    </div>
</div>


<header class="Content Border Header">


    <div class="Content_center Header-Infos ">


        <h1 class="Header-mainTitle MainTitle servus  ">
            Statistiques		</h1>
        <div class="ariane">
            <a class="ariane-item" href="/fr/">Accueil</a> &gt; <a class="ariane-item" href="/fr/bases-de-donnees-et-statistiques">Bases de données et statistiques</a> &gt; <span class="ariane-item">Statistiques</span>			</div>


    </div>


</header>

<div class="sticky-menu-toggle"><i class="ico-burger"></i></div>
<nav class="Bg-noise">
    <div class="Border rose menu-spe">
        <div class="Content_center">
            <ul class="Menu">
                <li class="Menu-itemMenu ItemMenu">
                    <a href="/fr/" class="Item-menuLink MenuLink accueil">
                        <img src="http://www.oiv.int/img/frontend/logo-small.png" alt="Logo de l'Organisation Internationale de la vigne et du vin">
                    </a>
                </li>

                <li class="Menu-itemMenu ItemMenu">
                    <a href="/fr/lorganisation-internationale-de-la-vigne-et-du-vin" class="Item-menuLink MenuLink hover ">
                        L'OIV							</a>
                </li>
                <li class="Menu-itemMenu ItemMenu">
                    <a href="/fr/actualites" class="Item-menuLink MenuLink hover ">
                        Actualités							</a>
                </li>
                <li class="Menu-itemMenu ItemMenu">
                    <a href="/fr/agenda" class="Item-menuLink MenuLink hover ">
                        Agenda							</a>
                </li>
                <li class="Menu-itemMenu ItemMenu">
                    <a href="/fr/normes-et-documents-techniques" class="Item-menuLink MenuLink hover ">
                        Normes et documents techniques							</a>
                </li>
                <li class="Menu-itemMenu ItemMenu">
                    <a href="/fr/bases-de-donnees-et-statistiques" class="Item-menuLink MenuLink hover active">
                        Bases de données et statistiques							</a>
                </li>
            </ul>
        </div>
        <ul class="Menu right">
            <li class="Menu-itemMenu ItemMenu">
                <a href="/fr/espace-presse" class="Item-menuLink MenuLink hover ">
                    Espace presse				</a>
            </li>
            <li class="Menu-itemMenu ItemMenu">
                <a href="/intraoiv/intraoiv/login?lang=fr" class="Item-menuLink MenuLink hover">
                    Intranet				</a>
            </li>
        </ul>
    </div>
</nav>