<nav class="Bg-noise mobile">
    <div class="top-bar-fade"></div>
    <div class="top-bar">
        <a class="mobile-search-lnk" href="/fr/search">
            <img class="mobile-search" src="img/frontend/icon-btn-loupe-mobile.png" alt="icon">
        </a>
        <a href="/fr/" class="Item-menuLink MenuLink accueil">
            <img src="img/frontend/logo-small.png" alt="Logo de l'Organisation Internationale de la vigne et du vin">
        </a>
        <a href="#" class="nav-toggle"><span>menu</span></a>
    </div>
    <ul class="Menu">
        <li class="Menu-itemMenu ItemMenu">
            <a href="/fr/lorganisation-internationale-de-la-vigne-et-du-vin" class="Item-menuLink MenuLink  ">
                L'OIV							</a>
        </li>
        <li class="Menu-itemMenu ItemMenu">
            <a href="/fr/actualites" class="Item-menuLink MenuLink  ">
                Actualités							</a>
        </li>
        <li class="Menu-itemMenu ItemMenu">
            <a href="/fr/agenda" class="Item-menuLink MenuLink  ">
                Agenda							</a>
        </li>
        <li class="Menu-itemMenu ItemMenu">
            <a href="/fr/normes-et-documents-techniques" class="Item-menuLink MenuLink  ">
                Normes et documents techniques							</a>
        </li>
        <li class="Menu-itemMenu ItemMenu">
            <a href="/fr/bases-de-donnees-et-statistiques" class="Item-menuLink MenuLink  active">
                Bases de données et statistiques							</a>
        </li>
        <li class="Menu-itemMenu ItemMenu fix">
            <a href="/fr/espace-presse" class=" first min Item-menuLink MenuLink  ">
                Espace presse				</a>
        </li>
        <li class="Menu-itemMenu ItemMenu fix">
            <a href="/intraoiv/intraoiv/login?lang=fr" class="Item-menuLink MenuLink  min">
                Intranet				</a>
        </li>
        <li class="Menu-itemMenu ItemMenu share">
            <a class="menu-icon" target="blank" href="https://www.facebook.com/pages/OIV-International-Organisation-of-Vine-and-Wine/347511881957613?fref=ts">
                <img src="img/frontend/icon-fb-w-mobile.png" alt="icon">
            </a>
            <a class="menu-icon second" target="blank" href="https://twitter.com/OIV_int">
                <img src="img/frontend/icon-tw-w-mobile.png" alt="icon">
            </a>
        </li>

    </ul>
</nav>
