<div class="result-search container search-table hide">
    <div class="search-list table-responsive table-wrapper-scroll-y table-fixed" >
        <table class="table" id="resultStats"></table>
    </div>
    {% include 'OivBundle:blocks:pagination.html.twig' with {'numTab':'resultStats','view':'global-country'} %}
    <button id="btn-global-country-search" class="hide" name="searchDataCountry"></button>
</div>