<div class="result-search container search-table hide">
    <div class="alert alert-danger alert-dismissible" role="officielle">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Toutes les informations affichées sont fournies de manière officielle par les Etats Membres.
    </div>
    <div class="search-list table-responsive table-wrapper-scroll-y table-fixed" >
        <table class="table" id="resultStats"></table>
    </div>
    {% include 'OivBundle:blocks:pagination.html.twig' with {'numTab':'resultStats','view':'global-country'} %}
    <button id="btn-global-country-search" class="hide" name="searchDataCountry"></button>
</div>