<div class="result-search container search-table">
    {#<div class="search-box">#}
        {#<div class="row">#}
            {#<div class="col-md-3">#}
                {#<h5>50 Records Found</h5>#}
            {#</div>#}
            {#<div class="col-md-9">#}
                {#<input type="text" id="inputStat" class="form-control" placeholder="Search all fields e.g. HTML">#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    <div class="search-list table-responsive table-wrapper-scroll-y">
        <table class="table" id="resultSearch">
            <thead>
            {% for fieldName, value in globalResult.0 %}
                <th>{{ fieldName }}</th>
            {% endfor %}
            </thead>
            <tbody>
            {% for row in globalResult %}
                <tr>
                    {% for fieldName, value in row %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>