<div class="result-search container search-table">
    <div class="search-list table-responsive table-wrapper-scroll-y">
        <table class="table" id="resultSearch">
            <thead>
            {% for fieldName, value in globalResult.0 %}
                <th>{{ fieldName }}</th>
            {% endfor %}
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>