li.sidebar-search-wrapper a {
    color: #b4bcc8;
}
.page-sidebar .page-sidebar-menu > li.db.active > a, .page-sidebar .page-sidebar-menu > li.db.active.open > a{
    background-color: #c49f47;
}
#selectedFilter span.caption-subject {
    font-size: 15px;
    padding-right: 5px;
}
#selectedFilter button:hover {
    background: #c23f44;
}
#selectedFilter button i.fa-check{
    display: none;
}
#selectedFilter button:hover i.fa-check, #selectedFilter button.active i.fa-check {
    display: inline-block;
}
#selectedFilter button.active {
    background: #c23f44;
}
#selectedFilter button i.fa-times{
    display: none;
}
#selectedFilter .btn {
    padding: 3px;
    margin: 3px;
}

#selectedFilter .note {
    padding: 0px 15px;
}
/*** Selection country ***/
#selectedFilter .ms-container .ms-selection{
    background: #fff;
    color: #555555;
    float: left;
    width: 45%;
}

#selectedFilter .ms-list{
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    height: 150px;
    padding: 0;
    overflow-y: auto;
}

#selectedFilter .ms-list.ms-focus{
    border-color: #888888;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #888888;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #888888;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #888888;
    outline: 0;
    outline: thin dotted \9;
}

#ms-country.ms-container .ms-list {
    -webkit-box-shadow: inset 0 1px 1px #888888;
    -moz-box-shadow: inset 0 1px 1px #888888;
    box-shadow: inset 0 1px 1px #888888;
}

#selectedFilter ul.ms-list, #selectedFilter ul.ms-optgroup{
    margin: 0;
    list-style-type: none;
    padding: 0;
}

#selectedFilter .ms-optgroup-container{
    width: 100%;
}

#selectedFilter .ms-optgroup-label{
    margin: 0;
    padding: 5px 0px 0px 5px;
    cursor: pointer;
    color: #999;
}

#selectedFilter .ms-selection li.ms-elem-selection{
    border-bottom: 1px #eee solid;
    padding: 2px 10px;
    color: #555;
    font-size: 14px;
}

#selectedFilter .ms-selection li.ms-hover{
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    background-color: #08c;
}

#selectedFilter .ms-selection li.disabled{
    background-color: #eee;
    color: #aaa;
    cursor: text;
}
#selected-statType a {
    padding: 5px;
}
#advSearch .ms-container {
    width: 222%;
}
#datatable_orders thead {
    top: 0;
    position: sticky;
}
#datatable_orders thead td{
    background-color: #DDD;
}
/*** end selection country **/

/** Start popup Naming **/
#popup {
    overflow: visible !important;
    font-size: 16px;
}
#popup .btn {
    font-size: 12px;
    margin: 5px;
}
#popup h3 {
    font-size: 15px;
    padding: 5px;
    margin: 0px;
}
#popup h4 {
    font-size: 16px;
}
#popup .list-group-item {
    padding: 5px 10px;
}
#popup a.list-group-item .list-group-item-heading:hover {
    color: #5b9bd1;
    text-decoration: underline;
}
#datatable_orders tr.filter .icon-magnifier,#datatable_orders tr.filter .fa-remove {
    padding: 5px 3px;
}
#datatable_orders tr.filter td a{
    display: flex;
}
#datatable_orders th {
    position: sticky;
    top: 0;
}
#datatable_orders thead tr:nth-child(2)>td {
    position: sticky;
    top: 36px;
    white-space: nowrap;
}
#datatable_orders .filter-col {
    width: auto;
}
#datatable_orders .filter input.form-filter {
    width: auto;
}
#datatable_orders_wrapper .table-scrollable {
    margin: 0 !important;
}
#selected-year span.label-warning, #selected-filters span.label-warning, #selected-statType span.label-text {
    /*font-size: 14px;*/
    color: rgb(102, 102, 102);
    background: none;
}
.bootstrap-select.bs-select li.dropdown-header{
    cursor: pointer;
}
#container_scroll{
    overflow: hidden;
}
#datatable_orders {
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    overflow-x: auto;
    overflow-y: hidden;
}
table.table-bordered tbody th, table.table-bordered tbody td {
    word-break: break-all;
}
span#attach {
    padding-left: 10px;
}
span#attach.active {
    color: #5b9bd1;
}
.pointer {
    cursor: pointer
}

/** End popup Naming **/
@media (min-width: 992px) {
    #advSearch .page-sidebar-menu {
        margin-top: 10px;
    }
}
@media (max-width: 991px) {

}