#page .Header h1 {
    margin-bottom: 50px;
}
#page .breadcrumb {
    background: none;
    margin-bottom: 50px
}
#page .breadcrumb a{
    color: #ecdfd1;
}
#page .full-search {
    font-size: 14px;
}
#page .full-search table th {
    background: #AE2B4A;
    color: #FFFFFF;
    text-align: center;
    position: sticky;
    top: 0;
    white-space: nowrap;
    padding: 5px 20px 5px 0;
}
#page .full-search table th.sorting {
    background: #AE2B4A url('/bundles/oiv/css/plugins/datatables/media/images/sort_both.png') no-repeat center right;
}
#page .full-search table th.sorting_asc {
    background: #AE2B4A  url('/bundles/oiv/css/plugins/datatables/media/images/sort_asc.png') no-repeat center right;
}
#page .full-search table th.sorting_desc {
    background: #AE2B4A  url('/bundles/oiv/css/plugins/datatables/media/images/sort_desc.png') no-repeat center right;
}
#page .search-list table tr:nth-child(2)>th{
    background: #c1c1c1;
    color: #000000;
    position: sticky;
    top: 30px;
}
#page .btn {
    background: #FFFFFF;
}
#page a.stat-type.btn {
    color: #FFFFFF;
    background: #c1c1c1;
}
#page .btn:hover {
    background: #2A6496;
}
#page .bg-wihte {
    background: #FFFFFF;
}
#page .pagination {
    margin: 10px;
}
#page .pagination a{
    background: #777783;
    color: #FFFFFF;
}
#page .pagination .active a{
    background: #AE2B4A;
}
#page .mesure {
    font-size: 11px;
    color: #ecdfd1;
    font-style: italic;
}
#page .filter-search {
    padding-top: 5px;
    padding-bottom: 5px;
}
.bg-oiv {
    background: #AE2B4A;
    color: #FFFFFF;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.display-flex{
    display: flex;
}

.js-loading-overlay {
    background-color: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#popup {
    overflow: visible;
    font-size: 16px;
}
#popup .btn {
    font-size: 12px;
    margin: 5px;
}
#popup h3 {
    font-size: 15px;
    padding: 5px;
}
#popup h4 {
     font-size: 16px;
}
#popup .list-group-item {
    padding: 5px 10px;
}
/** Start Filter Search **/
body .filter-search {
    padding-top: 50px;
    font-size: 17px;
    border-bottom: 0;
}

#page .filter-search .btn:hover{
    background: #FFFFFF;
}
#page .filter-search .bootstrap-select .dropdown-menu li{
    background: #FFFFFF;
}
#page .filter-search .bootstrap-select .dropdown-menu li span{
    font-size: 16px;
}

#page .filter-search .btn.btn-search {
    background: #777783;
}
.filter-search .dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.filter-search .input-group-btn .btn-group {
    display: flex !important;
}
.filter-search .btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.filter-search .btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.filter-search .btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.filter-search .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.filter-search .form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    .filter-search .adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .filter-search .dropdown.dropdown-lg {
        position: static !important;
    }
    .filter-search .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}
/** End Filter Search **/

/** Start Result Search **/
@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}
@media screen and (min-width: 769px) {
    .display-md-flex {
        display: flex;
    }
    .btn-search {
        position: relative;
        top: 50%
    }

}
@media screen and (max-width: 480px) {
    .search-list thead {
        display: block;
    }
    .fiche-country .block-table thead{
        display: block;
    }
    .fiche-country .block-table tr, .fiche-country .block-table th{
        width: 100%;
        display: block;
    }
    .fiche-country .block-table td{
        display: block;
    }
    .fiche-country .search-list table th, .fiche-country .search-list table td{
        display: table-cell;
    }
}
.result-search {
    margin-bottom: 20px;
}

.result-search .search-table{
    padding: 10%;
    margin-top: -6%;
    font-size: 17px;
}
.result-search .search-box{
    background: #c1c1c1;
    border: 1px solid #ababab;
    padding: 2%;
}
.result-search .search-box input:focus{
    box-shadow:none;
    border:2px solid #eeeeee;
}
.result-search .search-list, .fiche-country .search-list{
    background: #fff;
    border: 1px solid #ababab;
    /*border-top: none;*/
}
.result-search .search-list h3{
    background: #eee;
    padding: 3%;
    margin-bottom: 0%;
}
.table-wrapper-scroll-y {
    display: block;
    max-height: 400px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.result-search table td, .result-search table th,.fiche-country table td, .fiche-country table th {
    border-right: 1px solid #ddd;
}

.table-fixed {
    overflow-y: auto;
    max-height: 500px;
}

.table-fixed table {
    border-collapse: collapse;
    width: 100%;
}

.table-fixed th, .table td {
    padding: 8px 16px;
}
.table-fixed .table > thead > tr > th,
.table-fixed .table > tbody > tr > th,
.table-fixed .table > thead > tr > td,
.table-fixed .table > tbody > tr > td {
    padding: 0px 8px 8px 8px;
    vertical-align: top;
    white-space: normal;
}
.table-fixed thead {
    position: sticky;
    top: 0;
}
.table-fixed th {
    background: #eee;
}

#resultSearch tr:hover{
    background: #EDEDED;
    box-shadow: 7px 0px 7px 0px;
}

/** End Result Search **/

/*** Start fiche country  **/
.fiche-country {
    padding: 20px 15px;
}
.fiche-country .pager li a {
    margin: 10px;
}
.fiche-country .info .thumbnail, .fiche-country .info .caption {
    background: #C1C1C1;
    padding: 0px;
}
.fiche-country .pager {
    background: #c1c1c1;
    margin-bottom: 0px;
}
.fiche-country .table-fixed {
    height: auto;
}
.fiche-country .table, .fiche-country .table-fixed {
    margin-bottom: 7px;
}
.fiche-country .valStatType {
    color: #428bca;
    font-size: 13px;
}
#page .fiche-country table.products{
    /*width: 720px;*/
    /*max-width: 720px;*/
}
#page .fixed-table {
    table-layout: fixed;
}
#page .fiche-country table th {
   width: 120px;
   max-width: 120px;
}
#page .fiche-country table th span {
    text-align: center;
    white-space: nowrap;
    display: block;
}
.fiche-country .pager li.centred>span, .fiche-country .pager li.centred>img {
    padding-top: 5px;
    margin: 10px;
}
/*** End fiche country  **/