<!DOCTYPE html>

<!--[if IE 8]>
<html lang="fr" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="fr" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    {% block head %}
    {% include 'OivBundle:advancedSearch/blocks:head.html.twig' %}
    {% endblock head %}
</head>

<body class="page-header-fixed page-quick-sidebar-over-content ">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="index.html">
                <img style="height: 54px;margin: 5px;" src="{{ asset('/bundles/oiv/img/OIV.png') }}" alt="logo" class="logo-default"/>
            </a>
            <div class="menu-toggler sidebar-toggler hide">
            </div>
        </div>
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
           data-target=".navbar-collapse">
        </a>
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                {% block menu_user %}{% endblock %}
            </ul>
        </div>
    </div>
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div id="advSearch" class="page-container">
    {% block sidebar %}
        {% include 'OivBundle:advancedSearch/blocks:side-bar.html.twig' %}
    {% endblock sidebar %}
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
                <span class="current-db-search">{{ 'Statistic'|trans }}</span>
                <small>{{ 'Result of search'|trans }}</small>
            </h3>
            <div class="portlet">
                <div class="portlet-title">
                    <div id="label-selectedFilter" class="caption">
                        <i class="fa fa-shopping-cart"></i>{{ 'Your selection'|trans }}
                    </div>
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div id="selectedFilter" class="col-md-12">
                    {% block selectedFilter %}{% endblock %}
                </div>
                <div class="col-md-12">
                    <!-- Begin: life time stats -->
                    <div class="portlet">
                        <div class="portlet-title">
                            <div class="caption">
                                <span><i class="fa fa-list"></i>Résultats</span>
                                <span id="attach" class="active pointer"><i class="fa fa-arrows-alt active"></i> Scroll</span>
                            </div>
                            {% block actions %}{% endblock %}
                        </div>
                        <div class="portlet-body">
                            {% block dataTable %}{% endblock %}
                        </div>
                    </div>
                    <!-- End: life time stats -->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">

    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->
{% include 'OivBundle:blocks:popup-info.html.twig' %}
{% block load_js %}{% endblock load_js %}
</body>
<!-- END BODY -->
</html>