<li class="text-center">
    <button class="btn btn-sm yellow filter-submit margin-bottom" data-dbType="{{ dbType|default() }}">
        <i class="fa fa-search"></i> Search
    </button>
    <button class="btn btn-sm red filter-cancel reset-filter">
        <i class="fa fa-times"></i> Reset
    </button>
</li>