<div id="protection" class="row hide">
    <div class="col-md-12">
        <div class="col-md-4 form-group">
            <label class="control-label">Indication Géographique</label>
            <select id="indicationGeo" name="indicationGeo" class="form-control">
                <option value="">RIBERAS</option>
            </select>
        </div>
		<div class="col-md-4 form-group">
            <label class="control-label">Type de produit</label>
            <select id="TypeProduitProtec" name="TypeProduitProtec" class="form-control">
               <option value="">vin</option>
            </select>
        </div>
		<div class="col-md-4 form-group">
            <label class="control-label"> Pays origine</label>
            <select id="PayOrigine" name="PayOrigine" class="form-control">
               <option value="">Espagne</option>
            </select>
        </div>
    </div>
</div>
