{% extends 'base.html.twig' %}

{% block error %}
    <div class="col-md-12 page-500">
        <div class=" number">
            404
        </div>
        <div class=" details">
            <h3>Oops! Page not found.</h3>
            <p><a href="/"> Redirect to homepage</a>
        </div>
    </div>
{% endblock error %}
